$black: #000;
$white: #fff;

$purple55: #4A2CED;
$purple60: #5E43EF;
$purple70: #8672F3;
$purple80: #AEA1F7;
$purple90: #D6D0FB;
$purple95: #EAE7FD;
$purple97: #F3F1FE;
$purple99: #FBFAFF;

$dark03: #070708;
$dark06: #0E0E10;
$dark08: #131316;
$dark12: #1C1C21;
$dark15: #232329;
$dark20: #2F2F37;
$dark25: #3B3B45;
$dark30: #474752;

$grey40: #62646C;
$grey50: #797C86;
$grey70: #AFB0B6;
$grey80: #CACACE;
$grey90: #E4E4E6;
$grey95: #F2F2F3;
$grey97: #F7F7F8;
$grey99: #FCFCFD;






.font-48-600 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.font-44-600 {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.font-80-600 {
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.font-58-600 {
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.font-30-500 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font-28-500 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.font-22-500 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font-20-600 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.font-20-500 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.font-20-400 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.font-18-600 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.font-18-500 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.font-18-400 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.font-16-500 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.button-1 {
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid $dark20;
    background: $dark12;
    transition: background .5s;

    &:hover {
        background: $dark03;
    }
}

.button-3 {
    width: 213px;
    height: 63px;
    // padding: 18px 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid $dark20;
    background: $dark12;
    transition: background .5s;

    &:hover {
        background: $dark03;
    }
}

.button-2 {
    width: 130px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: $purple55;
    box-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
    transition: background .5s;

    &:hover {
        background: $purple70;

    }
}

.button-4 {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid $dark20;
    background: $dark12;
    cursor: pointer;
    transition: background .5s;
    transform: rotate(0deg);

    img {
        transform: rotate(90deg);
        width: 24px;
        height: 24px;
    }

    &:hover {
        background: $dark03;
    }
}

.socials {
    width: 196px;
    height: 68px;
    border-radius: 100px;
    border: 1px solid $dark12;
    background: $dark03;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-button {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: 1px solid $dark20;
        background: $dark12;
        transition: background .5s;
        cursor: pointer;

        &:hover {
            background: $dark03;

        }
    }
}


.button-5r,.button-5l {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid $dark20;
    background: $dark12;
    cursor: pointer;
    transition: background .5s;

    img {
        width: 34px;
        height: 34px;
    }

    &:hover {
        background: $dark03;
    }
}
.slick-next,
.slick-prev {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid $dark20;
    background: $dark12;
    position: absolute;
    cursor: pointer;
    transition: background .5s;

    img {
        width: 34px;
        height: 34px;
    }

    &:hover {
        background: $dark03;
    }
}

.slick-next,.button-5r {
    img {
        transform: rotate(180deg);
    }
}

@media (max-width: 1648px) {

    .font-48-600 {
        font-size: 34px;
    }

    .font-44-600 {
        font-size: 34px;
    }

    .font-80-600 {
        font-size: 60px;
    }

    .font-58-600 {
        font-size: 48px;
    }

    .font-30-500 {
        font-size: 24px;
    }

    .font-28-500 {
        font-size: 24px;
    }

    .font-22-500 {
        font-size: 18px;
    }

    .font-20-600 {
        font-size: 16px;
    }

    .font-20-500 {
        font-size: 16px;
    }

    .font-20-400 {
        font-size: 16px;
    }

    .font-18-600 {
        font-size: 14px;
    }

    .font-18-500 {
        font-size: 14px;
    }

    .font-18-400 {
        font-size: 14px;
    }
    .font-16-500{
        font-size: 14px;
    }

    .button-1 {
        padding: 14px 20px;
        border-radius: 8px;
    }

    .button-3 {
        width: 174px;
        height: 49px;
        border-radius: 8px;
    }

    .button-2 {
        width: 104px;
        height: 56px;
    }

    .button-4 {
        width: 40px;
        height: 40px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .socials {
        width: 146px;
        height: 54px;

        &-button {
            width: 38px;
            height: 38px;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }


    .slick-next,
    .slick-prev {
        width: 48px;
        height: 48px;

        img {
            width: 28px;
            height: 28px;
        }
    }
    .button-5r,.button-5l {
        width: 48px;
        height: 48px;

        img {
            width: 28px;
            height: 28px;
        }
    }
}

@media (max-width: 1310px) {
    .font-48-600 {
        font-size: 28px;
    }
    .font-44-600 {
        font-size: 28px;
    }

    .font-80-600 {
        font-size: 40px;
    }

    .font-58-600 {
        font-size: 28px;
    }

    .font-30-500 {
        font-size: 20px;
    }

    .font-28-500 {
        font-size: 20px;
    }

    .font-22-500 {
        font-size: 14px;
    }

    .font-20-600 {
        font-size: 14px;
    }

    .font-20-500 {
        font-size: 14px;
    }

    .font-20-400 {
        font-size: 14px;
    }

    .font-18-600 {
        font-size: 14px;
    }

    .font-18-500 {
        font-size: 14px;
    }

    .font-18-400 {
        font-size: 14px;
    }

    .button-3 {
        width: 310px !important;
    }

    .button-2 {
        width: 80px !important;
        height: 48px !important;

        img {
            width: 20px !important;
            height: 20px !important;
        }
    }

    .button-4 {
        width: 38px !important;
        height: 38px !important;

        img {
            width: 18px !important;
            height: 18px !important;
        }
    }

}